<% include templates/header.ejs %>
<body>

<div class="container">
    <div class="jumbotron">
        <h1>Online Κοινόχρηστα</h1>
        <p>Έκδοση Κοινοχρήστων χωρίς πολλά πολλά</p>
    </div>
    <h1>My First Bootstrap Page</h1>
    <p>This is some text.</p>
    <a href="/login" class="btn btn-primary" role="button">Login</a>
</div>

<% include templates/footer.ejs %>
</body>

</html>